*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container_burger{
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.burger_item{
    width: 25px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
}

.burger_item::before{
    content: "";
    width: 25px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    top:5px;
}
.burger_item::after{
    content: "";
    width: 25px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
  
    bottom: 5px;
}
.side_menu{
    width: 300px;
    height: 100vh;
    background-color: gray;
    position: absolute;
    left: -300px;
}
.container input:checked ~ .side_menu{
    left: 0;

}
#checkbox{
    display: none;
}