*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 60px;
    
}
header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
}

header nav ul{
    display: flex;
    gap: 10px;
    list-style: none;

}
header nav ul li .dropDown{
    display: none;
}
header nav ul li:hover .dropDown{
    display: flex;
    flex-direction: column;
}