*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.child{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 10px;
}
.container{
    position: relative;
    width: 500px;
    height: 200vh;
    border: 2px solid grey;
}
.child-1{
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 2;
    background-color: lightcoral;
}
.child-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.child-1 .text{
    position: absolute;
    bottom: 10px;
  
}