body {
  font-family: Arial, sans-serif;
}

/* Overlay (background) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: none; /* default хаалттай */
  justify-content: center;
  align-items: center;
}

/* Modal box */
.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}
