*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding:20px 80px
}
.hero{
    width: 100%;
    height: 30vh;
    background-color: #f70ee3;
}

.first-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,200px);
    gap: 10px;
    
}

.first-container .child{
    width: 100%;
    height: 100%;
    background-color: palevioletred;
}

.second-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
}

.second-container .second-child{
    width: 100%;
    height: 150px;
    background-color: rgb(233, 176, 226);
}

@media screen and (min-width: 540px) {
    .first-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2,200px);
    }

}

@media screen and (min-width: 1024px) {
    .first-container{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 200px;
    }
    .second-container{
        flex-direction: row;
    }

    
} 